.head4 {
  font-size: 60px;

  color: cornflowerblue;
}

.div_age {
  font-size: x-large;


}

.select3 {

  padding: 9.5px;

}

.con {
  padding: 20px;
}

.next {

  margin-right: 20px;
  font-size: larger;
}

.delete {


  font-size: larger;
}